.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: solid 5px #00f;
  /* margin: 0; */
}

.input-field {
  width: 65%;
  text-align: center;
}

.input-field,
.save-button,
.char__counter {
  height: 5vh;
  border: .1rem solid transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  /* transition: 0.3s; */
  /* margin: 0; */
}

.save-button {
  /* border-radius: 0; */
  width: 25%;
  background-color: blue;
  color: white;
  /* font-size: 1.6rem; */
  cursor: pointer;
}

.char__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0;
  padding: 0;
  border: none;
  width: 10%;
  background-color: #111;
}

/* .char__counter span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #0f0;
} */
