.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: solid 1.6rem #4d8ac9;
}

.input-field {
  width: 65%;
  text-align: center;
}

.input-field,
.save-button,
.char__counter {
  height: 5vh;
  border: .1rem solid transparent;
  border: none;
  outline: none;
  font-size: 2rem;
}

.save-button {
  width: 25%;
  font-size: 1.6rem;
  background-color: #4d8ac9;
  color: white;
  cursor: pointer;
}

.save-button:hover {
  background-color: #5ea2e6;
}

.char__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0;
  padding: 0;
  border: none;
  width: 10%;
  background-color: #111;
}

.saved {
  background-color: #fff;
  color: #4d8ac9;
  font-weight: 900;
}

/* .char__counter span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #0f0;
} */
